/* toggle function */
/* Indivisual Content */
#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
  }
@media only screen and (min-width: 1036px) {
    #toggle_function{
        display: none;
    }
}
@media only screen and (max-width: 1036px) {
    .show-sidebar{
        transform: translateX(0);
    }
    .hide-nav-bar{
        visibility: hidden;
    }
    .img-index-contain{
        display: none;
    }
    .index-text-section{
        width: 100%;
    }
    .sk-contain{
        height: 80vh;
    }
}
/* icon handle */
@media only screen and (max-width: 1036px) {
    .social-links{
        display: none;
    }    
}
@media only screen and (max-width: 768px) {
    .nav-lists{
        display: none;
    }
    .sidebar{
        width: 100%;
        margin: 0;
        border-radius: 0;
        height: 100vh;
    }
    footer{
        flex-wrap: wrap;
        gap: 1rem;
    }
    .img-contain-footer{
        padding: 0;
    }
    .footer-logo{
        width: 45px;
        height: 45px;
    }
    .f-user-name{
        font-size: 0.9rem;
    }
    .config-footer{
        padding-left: 0.5rem;
        font-size: 0.7rem;
    }
    .text-slider{
        width: 100%;
    }
    #part-and-rev{
        flex-direction: column;
        gap: 1rem;
        margin: 0.4rem;
    }
    .partner-container, .reviews-container{
        width: 100%;
    }
    .profession-container{
        flex-wrap: wrap;
    }
    #chart-container{
        width: 100%;
    }
}
@media only screen and (max-width: 375px) {
    .social-links-sidebar{
        gap: 0.3rem;
        
    }
    nav{
        /* margin: 4px; */
        padding: 0.4rem;
        border-radius: 6px;
    }
    .heading-contain h2{
        font-size: 1.2rem;
    }
    /* .index-text-section{
        padding: 0.2rem;
    } */
    .text-contain-index-pera{
        font-size: 0.8rem;
    }

}
@media only screen and (max-width: 425px) {
    .index-text-section{
        padding: 0.2rem;
    }
    .course-card{
        width: 100%;
        margin: 1rem;
    }
    .global-heading{
        font-size: 1.3rem;
        margin-top: 1rem;
    }
    .heading-course{
        font-size: 1rem;
    }
    .text-course{
        font-size: 0.8rem;
    }
    #openlink-course, .course-span{
        font-size: 0.8rem;
    }
    .testi-heading{
        font-size: 1rem;
    }
    .fa-quote-right{
        font-size: 1.5rem;
    }
    .text-testi{
        font-size: 0.8rem;
    }
    .projects{
        width: 100%;
    }
    .project-text-overflow h3{
        font-size: 1rem;
        font-weight: 450;
    }
    .label-p{
        font-size: 0.8rem;
        font-weight: 600;
    }
    .project-disc{
        font-size: 0.9rem;
    }
    .project-text-overflow a{
        font-size: 0.9rem;
        padding: 5px 10px;
        background-color: #0037ff;
        color: #fff;
    }
    .sliderlink{
        padding: 4px 8px;
        font-size: 0.9rem;
    }
    .text-slider{
        font-size: 0.8rem;
    }
    #crusal-container{
        height: 40vh;
    }
    /* # */
    .sk-container{
        margin: 0.5rem 1rem;
    }
    .sk-contain{
        width: 100%;
        height: fit-content;
        padding: 0.5rem 0;
    }
    #next-button-sk,#prev-button-sk{
        background-color: #0256ff;
        color: #fff;
    }
    .skill-heading{
        font-size: 1.7rem;
        margin: 0.5rem 0 0 1rem;
        font-weight: 400;
    }
    #btn-skill-left, #btn-skill-right{
        font-size: 1.2rem;
    }
    #heading-skill{
        font-size: 1rem;

    }
    #text-skill{
        font-size: 0.8rem;
    }
    #skill-container{
        /* background-color: #ffffff5c; */
        box-shadow: 0px 0px 6px 0.2px #0037ff;
        border-radius: 15px;
    }
    .chart-base-contain, .chart, #chart-container{
        height: fit-content;
    }
    /* .chart-base-contain{
        margin: 0.4rem;
    } */

}
@media only screen and (max-width: 1100px) {
    .article{
        flex-wrap: wrap;
        gap: 1rem;
    }
    .course-card{
        width: 100%;
        margin: 0.5rem;
    }
    .testimonials{
        flex-wrap: wrap;
    }
    .testi-card{
        width: 100%;
        height: fit-content;
    }
    #skill-container{
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding: 0.5rem;
    }
    #skil-img-container{
        width: 100%;
        height: 50%;
    }
    .align-skill-contain{
        height: 50%;
    }
    
}
.bxs-sun{
    color: #fff;
}